.list {
  $self: &;

  margin-bottom: 30px;

  &__add-button {
    opacity: 0.4;
  }

  span {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    white-space: nowrap;
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    margin-bottom: 5px;
    &:hover #{$self}__remove-icon {
      opacity: 0.5;
    }
    #{$self}__remove-icon {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }

    .badge {
      position: relative;
      left: 5px;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }
  }
  i {
    display: inline-flex;
    margin-right: 8px;
  }
}
